/*

estilos da page indexzicho.html
<!-- p1 identificador do paragrafo com classe p1, pode usar em varios -->

*/

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
}

.container2 {
  text-align: center;
}

.content {
  flex-direction: column;
}

img {
  object-fit: contain;
}

/*
estilos da page contatichos.html
*/
