/*
estilos da page indexzinho.html
*/
.center {
    text-align: center; }    


.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



/*
estilos da page blogzinho.html
*/